/* Header CSS */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row wrap;
  background-color: chocolate;
  padding: 30px;
  border: 5px solid black;
}

.text1 {
  margin: 0;
  color: white;
  background-color: black;
  border: 3px;
}

.portfolio-logo {
  width: 80px;
}

/* body css */
body {
background-color: sandybrown;
border: 10px ridge white;}

/* main CSS CONTAINER*/

main {
   display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 70px;
text-align: right;
margin: 10px ;
  border: 5px solid chocolate;

}

.pfp {
  float: left;
  width: 150px;
}

/* dev gallery CSS CONTAINER */

.img {
  width: 300px;
}
.img2 {
  width: 500px;
}

div {
  display: flex;
  justify-content: center;
}

#devGallery {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: chocolate;
  margin: 10px;
  border: 5px solid black;
}

/* contact form CSS */

#contact {
  text-align: center;
  display: flex;
  justify-content: center;
}